.nama {
  font-family: "Dancing Script", cursive;
}

div.kata-kata {
    position: absolute;
  z-index: 102;
  /* margin-top: 100px; */
  text-align: center;
}

div.margin-top{
    height: 13vh;
    /* background-color: brown; */
}


#background-1{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  transform: rotate(180deg);
}

#background-2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  /* transform: rotate(180deg); */
}

.backgroud-kanan{
    position: absolute;
    /* z-index: 101; */
    top: 0;
    /* right: 0; */
    background-color: brown;
    /* background-image: url("../asset/sampul/rangkaian_bunga.png"); */
    background-size: contain;
    background-position-x: 20%;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    transform: rotate(180deg);
}