.sampul {
    align-items: flex-start;
    background-color: #f4efeb;
    border: 1px none;
    cursor: pointer;
    display: flex;
    height: 1024px;
    width: 1440px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.overlap-group {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/625a218d55e9f486584c0c6f/releases/635a21a755e9f486584c0c71/img/group-1@1x.png);
    background-size: 100%;
    display: flex;
    min-height: 1024px;
    padding: 134px 0;
    width: 1440px;
}

.kami-mengundang-anda {
    color: var(--kumera);
    font-family: var(--font-family-dancing_script);
    font-size: var(--font-size-xl);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 33px;
    min-height: 88px;
    text-align: center;
    width: 1392px;
}